<!DOCTYPE html>
<html lang="en" ng-app="TestApp">
<head>
  <title>AngularJS Seed Project</title>
  <!-- build:cssvendor -->
  <!-- endbuild -->

  <!-- build:cssbundle -->
  <link rel="stylesheet" href="assets/fonts/fonts.min.css" />
  <link rel="stylesheet" href="assets/styles/style.min.css" />
  <!-- endbuild -->
</head>
<body>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="name" id="name" />
  </div>
  <h3>Risultato</h3>
  <p>{{ name | uppercase }}</p>
  <p>{{ 120 | currency:"€" }}</p>
  <p>{{ "2017-02-22T18:00:00-01:00" | date:'EEEE of MMMM in yyyy @ HH:mm:ss' }}</p>

  <ul ng-init="persons=['Pippo', 'Pluto', 'Paperino', 'Andrea']">
    <li ng-repeat="person in persons | filter:name | orderBy:name:'DESC' ">{{ person }}</li>
  </ul>

  <div ng-show="name === 'Pippo'"><p>Ok, it's Pippo!</p></div>
  <div ng-show="name !== 'Pippo'"><p>No, it's not pippo!</p></div>

  <div>
    <h2>Data from $rootScope</h2>
    <p>{{ firstName }} {{ lastName }}</p>
    <a ng-click="sayHi()">Say Hi!</a>
  </div>

  <div ng-controller="UserController as ctrl">
    <h2>Data from $scope controller</h2>
    <p>{{ ctrl.firstName }} {{ctrl.lastName }}</p>
    <a ng-click="ctrl.sayHi()">Say Hi!</a>
  </div>

  <!-- build:jsvendor -->
  <script type="text/javascript" src="assets/libraries/angular/angular.min.js"></script>
  <!-- endbuild -->

  <!-- build:jsbundle -->
  <script type="text/javascript" src="app/app.module.min.js"></script>
  <script type="text/javascript" src="app/app.config.min.js"></script>

  <script type="text/javascript" src="app/components/user/user.controller.min.js"></script>
  <!-- endbuild -->
</body>
</html>